{% extends "base.html" %} {% block title %}Home{% endblock %} {% block content
%}

<div id="carouselExampleAutoplaying " class="carousel slide carousel-mg" data-bs-ride="carousel">
  <div class="carousel-inner">
    <div class="carousel-item active">
      <img
        src="https://images.hola.com/images/026b-12a8606ad122-b7409bd9ea85-1000/vertical-800/reino-de-ladrones-de-leigh-bardugo-editorial-hidra-.jpg"
        class="d-block ancho" alt="...">
      <div class="carousel-caption d-none d-md-block">
        <h5 class="titulo">
          REINO DE LADRONES</h5>
        <h2 class="autor">Leigh Bardugo
        </h2>
        <p>Kaz Brekker y su equipo han dado un golpe tan temerario que ni siquiera ellos pensaban sobrevivir. Pero en
          lugar de conseguir una buena recompensa, a su regreso de la Corte de Hielo tienen que seguir luchando por
          sus
          vidas. Traicionado y debilitado, el equipo está corto de recursos, aliados y esperanza. Mientras poderosas
          fuerzas de todo el mundo llegan a Ketterdam para desentrañar el secreto de la peligrosa droga conocida como
          jurda parem, viejos rivales y nuevos enemigos emergen para desafiar el ingenio de Kaz y poner a prueba las
          frágiles lealtades del equipo.</p>
      </div>
    </div>
    <div class="carousel-item">
      <img
        src="https://images.hola.com/images/026b-12a8606ad125-46717f0b866b-1000/vertical-480/los-dioses-del-norte-la-leyenda-del-bosque-de-jara-santamar-a-montena-.jpg"
        class="d-block ancho" alt="...">
      <div class="carousel-caption d-none d-md-block">
        <h5 class="titulo">LOS DIOSES DEL NORTE 1</h5>
        <h2 class="autor"> JARA SANTAMARIA</h2>
        <p>Cuenta la leyenda que, en el valle del Baztán, los dioses convivían en hermandad y las criaturas del día y de
          la noche podían vivir en armonía. Pero Gaueko, el temible dios de la noche, empezó a atemorizar a los humanos
          con su sequito de lobos y la diosa de la tierra, Mari, engendró la Luna y el Sol para protegerlos de la
          oscuridad. Sin embargo, las ansias de poder de Gaueko le llevaron a tramar un plan para raptar al Sol y así
          instaurar de manera definitiva su reinado de las sombras.</p>
      </div>
    </div>
    <div class="carousel-item">
      <img
        src="https://images.ecestaticos.com/QlCfl_3_D2Q-yyllKSb17AaIcBw=/1x0:1665x2555/1440x1920/filters:fill(white):format(jpg)/f.elconfidencial.com%2Foriginal%2F208%2F2b3%2Fff1%2F2082b3ff1d1008325893dfe329f5ab54.jpg"
        class="d-block ancho" alt="...">
      <div class="carousel-caption d-none d-md-block">
        <h5 class="titulo">FUEGO Y SANGRE</h5>
        <h2 class="autor">GEORGE R. R. MARTIN</h2>
        <p>(Canción de hielo y fuego) 300 años antes de Juego de tronos. Historia de los Targaryen Siglos antes de que
          tuvieran lugar los acontecimientos que se relatan en «Canción de hielo y fuego», la casa Targaryen, la única
          dinastía de señores dragón que sobrevivió a la Maldición de Valyria, se asentó en la isla de Rocadragón.</p>
      </div>
    </div>
    <div class="carousel-item">
      <img
        src="https://i0.wp.com/mundosdeleyendas.com/wp-content/uploads/2023/04/la-comunidad-del-anillo-scaled.jpg?fit=1368%2C2048&ssl=1"
        class="d-block ancho" alt="...">
      <div class="carousel-caption d-none d-md-block">
        <h5 class="titulo">El Señor de los Anillos I. La Comunidad del Anillo</h5>
        <h2 class="autor">J.R.R TOLKIEN</h2>
        <p>En la adormecida e idílica Comarca, un joven hobbit recibe un encargo: custodiar el Anillo Único y emprender
          el viaje para su destrucción en las Grietas del Destino. Consciente de la importancia de su misión, Frodo
          abandona la Comarca e inicia el camino hacia Mordor con la compañía de inesperada de Sam, Pippin y Merry.</p>
      </div>
    </div>
  </div>
  <button class="carousel-control-prev" id="btn-carousel" type="button" data-bs-target="#carouselExampleAutoplaying"
    data-bs-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="visually-hidden">
      < </span>
  </button>
  <button class="carousel-control-next" id="btn-carousel" type="button" data-bs-target="#carouselExampleAutoplaying"
    data-bs-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="visually-hidden">></span>
  </button>
</div>

<main class="cardsContainer">
  <div class="tarjeta">

    <!-- Libro1 -->
    <div class="cara-frontal">
      <img class="tarjeta_img" src="https://www.penguinlibros.com/uy/1788334/cien-anos-de-soledad-edicion-ilustrada.jpg"
        alt="">
      <h2 class="tituloCard">Cien años de soledad</h2>
      <h3 class="autorCard">Gabriel García Márquez</h3>
    </div>
    <div class="cara-trasera">
      <h2 class="tituloCard">Cien años de soledad</h2>
      <p class="textoCard">La novela narra la historia de la familia Buendía, que funda y pobla el pueblo ficticio de
        Macondo. A lo largo
        de cien años, la familia Buendía experimenta una serie de acontecimientos extraordinarios, tanto históricos como
        fantásticos.</p>
    </div>
  </div>

  <!-- Libro 2 -->
  <div class="tarjeta">
    <div class="cara-frontal">
      <img class="tarjeta_img"
        src="https://2.bp.blogspot.com/-trdPWkJ6A6A/UgufOCfNDDI/AAAAAAAABeE/p-h81IEmleQ/s1600/1984_1.jpg" alt="">
      <h2 class="tituloCard">1984</h2>
      <h3 class="autorCard">George Orwell</h3>
    </div>
    <div class="cara-trasera">
      <h2 class="tituloCard">1984</h2>
      <p class="textoCard">La novela narra la historia de Winston Smith, un hombre que vive en una sociedad totalitaria
        llamada Oceanía.
        Oceanía está gobernada por el Partido Único, que controla todos los aspectos de la vida de sus ciudadanos. El
        Partido utiliza la propaganda, la vigilancia y la represión para mantener a la población sometida.</p>
    </div>
  </div>

  <!-- Libro 3 -->
  <div class="tarjeta">
    <div class="cara-frontal">
      <img class="tarjeta_img"
        src="https://libreriavila.com.uy/images/thumbs/0014850_un-mundo-feliz-aldous-huxley_750.jpeg" alt="">
      <h2 class="tituloCard">Un mundo feliz</h2>
      <h3 class="autorCard">Aldous Huxley</h3>
    </div>
    <div class="cara-trasera">
      <h2 class="tituloCard">Un mundo feliz</h2>
      <p class="textoCard">La novela narra la historia de Bernard Marx, un hombre que vive en una sociedad utópica
        llamada Fordlandia.
        Fordlandia es una sociedad perfectamente controlada, donde la felicidad y la satisfacción son las normas.

        Los bebés son criados en laboratorios y se les clasifica según su potencial genético. Los niños se someten a un
        proceso decondicionamiento, en el que se les inculcan los valores de la sociedad.</p>
    </div>
  </div>

  <!-- Libro 4 -->
  <div class="tarjeta">
    <div class="cara-frontal">
      <img class="tarjeta_img" src="https://circuloeditorialazteca.com/wp-content/uploads/2019/06/Crimen-y-Castigo.jpg"
        alt="">
      <h2 class="tituloCard">Crimen y castigo</h2>
      <h3 class="autorCard">Fiódor Dostoyevski</h3>
    </div>
    <div class="cara-trasera">
      <h2 class="tituloCard">Crimen y castigo</h2>
      <p class="textoCard">La novela narra la historia de un crimen cometido por el exestudiante Rodión Ramanovich
        Raskolnikov y sus
        consecuencias.

        Raskolnikov es un joven estudiante que vive en la pobreza. Está convencido de que la sociedad está dividida en
        dos grupos: los "extraordinarios", que tienen el derecho de cometer cualquier crimen para alcanzar sus
        objetivos, y los "ordinarios", que deben someterse a las reglas de la sociedad.</p>
    </div>
  </div>

  <!-- Libro 5 -->
  <div class="tarjeta">
    <div class="cara-frontal">
      <img class="tarjeta_img" src="https://http2.mlstatic.com/D_NQ_NP_955011-MLA45512189462_042021-O.webp" alt="">
      <h2 class="tituloCard">Lolita</h2>
      <h3 class="autorCard">Vladimir Nabokov</h3>
    </div>
    <div class="cara-trasera">
      <h2 class="tituloCard">Lolita</h2>
      <p class="textoCard">
        Lolita es una novela del escritor ruso-estadounidense Vladimir Nabokov, publicada en 1955. Es considerada una de
        las obras maestras de la literatura del siglo XX.

        La novela narra la historia de Humbert Humbert, un profesor cuarentón que se obsesiona con Dolores Haze, una
        niña de doce años a la que llama "Lolita". Humbert se casa con la madre de Lolita, Charlotte, para estar cerca
        de ella. Tras la muerte de Charlotte, Humbert se lleva a Lolita a un viaje por los Estados Unidos, donde la
        viola repetidamente.</p>
    </div>
  </div>
  <!-- Libro 6 -->
  <div class="tarjeta">
    <div class="cara-frontal">
      <img class="tarjeta_img" src="https://www.penguinlibros.com/uy/1400950/ulises.jpg" alt="">
      <h2 class="tituloCard">Ulises</h2>
      <h3 class="autorCard">James Joyce</h3>
    </div>
    <div class="cara-trasera">
      <h2 class="tituloCard">Ulises</h2>
      <p class="textoCard">
        La novela narra las andanzas de Leopold Bloom, un publicista judío de Dublín, a lo largo de un día cualquiera,
        el 16 de junio de 1904. La novela sigue a Bloom mientras se mueve por Dublín, interactuando con una variedad de
        personas y lugares.</p>
    </div>
  </div>
  <!-- Libro 7 -->
  <div class="tarjeta">
    <div class="cara-frontal">
      <img class="tarjeta_img" src="https://http2.mlstatic.com/D_NQ_NP_894842-MLU52307915184_112022-O.webp" alt="">
      <h2 class="tituloCard">Madame Bovary</h2>
      <h3 class="autorCard">Gustave Flaubert</h3>
    </div>
    <div class="cara-trasera">
      <h2 class="tituloCard">Madame Bovary</h2>
      <p class="textoCard">
        La novela narra la historia de Emma Bovary, una joven mujer que se casa con un médico en el campo francés y se
        embarca en una serie de aventuras adúlteras en busca de amor y emoción. Su imprudencia la lleva a su perdición,
        ya que se va aislando cada vez más y se desilusiona.</p>
    </div>
  </div>
  <!-- Libro 8 -->
  <div class="tarjeta">
    <div class="cara-frontal">
      <img class="tarjeta_img"
        src="https://www.libreriapocho.com.uy/cdn/shop/products/332354_IMAGEN_TAPA_G_001.jpg?v=1661227414" alt="">
      <h2 class="tituloCard">Ana Karenina</h2>
      <h3 class="autorCard">León Tolstói</h3>
    </div>
    <div class="cara-trasera">
      <h2 class="tituloCard">Ana Karenina</h2>
      <p class="textoCard">
        La novela narra la historia de Emma Bovary, una joven mujer que se casa con un médico en el campo francés y se
        embarca en una serie de aventuras adúlteras en busca de amor y emoción. Su imprudencia la lleva a su perdición,
        ya que se va aislando cada vez más y se desilusiona.</p>
    </div>
  </div>

  <!-- Libro 9 -->
  <div class="tarjeta">
    <div class="cara-frontal">
      <img class="tarjeta_img" src="https://m.media-amazon.com/images/I/51kYjjryGhL.jpg" alt="">
      <h2 class="tituloCard">Hamlet</h2>
      <h3 class="autorCard">William Shakespeare</h3>
    </div>
    <div class="cara-trasera">
      <h2 class="tituloCard">Hamlet</h2>
      <p class="textoCard">
        La novela narra la historia de Emma Bovary, una joven mujer que se casa con un médico en el campo francés y se
        embarca en una serie de aventuras adúlteras en busca de amor y emoción. Su imprudencia la lleva a su perdición,
        ya que se va aislando cada vez más y se desilusiona.</p>
    </div>
  </div>
  <!-- Card -->
  {% for l in librito %}
  <div class="tarjeta">
    <div class="cara-frontal">
      <img class="tarjeta_img" src="https://cdn.pixabay.com/photo/2015/11/19/21/10/glasses-1052010_1280.jpg" alt="">
      <h2 class="tituloCard">{{l.nombre}}</h2>
      <h3 class="autorCard">{{l.autor}}</h3>
    </div>
    <div class="cara-trasera">
      <h2 class="tituloCard">{{l.nombre}}</h2>
      <p class="textoCard">
        {{l.tema}}</p>
    </div>
  </div>

  {% endfor %}
</main>

{% endblock %}